[Desktop Entry]
Encoding=UTF-8
Name=Eclipse CPP
Comment=Eclipse CPP
Exec=/home/james/eclipse/cpp-eclipse/eclipse/eclipse
Icon=eclipse
Categories=Application;Development;Java;IDE
Type=Application
Terminal=0
